/* GRID */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;

/* COLORS */
$clr-primary : #a069e8;
$clr-secondary: #f56591;
$clr-grey-light:#f2f2f2;
$clr-grey-dark:#707070;
$clr-orange-dark:#ea5a1a;
$clr-white:#ffffff;
$clr-yellow-light:#f8cd12;
$clr-yellow-light-2:#fcea10;
$clr-green:#47ae33;
$clr-blue:#238cc2;
$clr-blue-light:#34d7de;
$clr-black:#000000;

/* FONT */

$default-font-size: 1.6rem;




